@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* .robotoRegular {
  font-family: "Imperial Script", serif;
  font-weight: 400;
  font-style: normal;
} */

.robotoRegular {
    font-family: "Imperial Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 2.5rem;
  }